$my-heading-font-family: 'Bitter', serif;
$my-base-font-family: 'Raleway', sans-serif;

* {
  box-sizing: border-box;
}

@mixin my-box-shadow {
  background: #D8D8D8;
  border: 1px solid #979797;
  box-shadow: 2px 2px 8px 0px rgba(0,0,0,0.50);
}

@mixin heading-style {
  font-style: $my-base-font-family;
  font-size: 1em;
  padding: 2em;
}

@mixin basic-style {
  font-style: $my-base-font-family;
  font-size: 1em;
  padding: 0.5em;
}

p {
  font-family: $my-base-font-family;
}

.edge-right {
  font-family: $my-base-font-family;
  float: right;
}

.basic-style {
  @include basic-style;
}

th {
  font-family: $my-heading-font-family;
  padding: 0.5em;
  text-align: left;
}

td {
  @extend .basic-style;
  font-family: $my-base-font-family
}

h1 {
  font-family: $my-heading-font-family;
  font-size: 1.5em;
  padding: 0.5em 0;
}

h2 {
  @extend h1;
  font-size: 1.2em;
}

a {
  font-family: $my-base-font-family;
}

.link {
  @extend .basic-style;
  padding: 0;
  margin: 1.5em 0;
}

.main {
  border: 1px dotted pink;
  margin: 20px;
  padding: 20px;
}
