.sign-up {
  @include my-box-shadow;
  display: inline-block;
  position: absolute;
  bottom: 1em;
  right: 1em;
  text-align: right;
  padding: 1em;
  background-image: url("http://i.imgur.com/dGOVu3V.png");
  background-size: cover;
}

.sign-up .actions {
  text-align: center;
}

.roll-up {
  text-align: right;
  width: 100%;
}
